@charset 'utf-8';
@import './lib/core/reset';


@font-face {
  font-family: 'iconfont';  /* project id："110893" */
  src: url('//at.alicdn.com/t/font_03621x6vmzkw3ik9.eot');
  src: url('//at.alicdn.com/t/font_03621x6vmzkw3ik9.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_03621x6vmzkw3ik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_03621x6vmzkw3ik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_03621x6vmzkw3ik9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:.26rem;
    font-style:normal;
}

html{
    height: 100%;
}
body{
    @include flexbox();
    @include flex-direction(column);
    width: 100%;
    height: 100%;
}
.active{
    color: #fa8723;
}





















@import './usage/index';

